.titulo{
    margin: 5px;
    margin-left: 25px;
    padding: 5px;
}
input{
    margin: 5px;
}
p{
    margin: 3px;
    font-size: 17px;
    color: white;
    
}
button{
    margin: 5px;
}
.teste{
    border: 2px solid rgb(0, 0, 0);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px; 
}
h1{
    color: rgb(255, 255, 255);
    text-align : center;
    text-decoration: underline; 
    font-size: 40px;
    margin: 5px;
    margin-bottom: 10px;     
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
	}

.h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.h4{
    color: rgb(255, 255, 255);    
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 35px;
}

.green{
    border: 2px solid rgb(1, 175, 15);
}
.painel_titulo{
    padding-top: 0px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 8px;
    text-align: center;
    background-image: linear-gradient( 
        to bottom, rgb(6, 0, 103) , rgb(0, 0, 0) ); 
   
    
}
.painel_corpo{
    border: 2px solid rgb(7, 7, 7);
    border-radius: 15px;
    background-image: linear-gradient( 
        to bottom, rgb(255, 255, 255) , rgb(45, 46, 82) );
    margin-bottom: 10px;
}

.wrapper {
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;

}
.input_comment{
    border-radius: 15px;
    width: 56%;
    background-color: #d8d6d6;
}
.input_comment_comment{
    border-radius: 15px;
    width: 30%;
    background-color: #d8d6d6;
}    

.button_comment{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    margin-bottom: 5px; 
    background-color: #6e796e;
}
.button_delete{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin-bottom: 5px;
    width: 110px;
}
.button_create{
    display: block;
    margin: auto;
    border: 2px solid black;
    background-image: linear-gradient( 
        to bottom, #fffefe , rgb(125, 125, 125) );
    border-radius: 50px;
    margin-bottom: 15px;
    width: 175px;
    height: 26px;
    font-size: 15px;
    font-weight: bold;
    
}
.fundo{
    background-image: linear-gradient( 
        to bottom, #000000 , rgb(0, 0, 0) ); 
}

.texto_nomes_post{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.texto_nomes{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.texto_justificado{
    text-align: justify;
    margin-left: 5px;
    margin-right: 10px;
    color: rgb(0, 0, 0); 
}

.sample-show-hide {
    transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}
.expandir{
    color:rgb(0, 0, 0); 
    cursor:pointer; 
    font-weight: bold; 
    text-decoration: underline; 
    display: block;
    
}

.post_create_update{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 70px;
    margin-right: 70px;  
}
.post_create{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    margin: 20px;
    background: black;
}
.post_update{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    margin: 20px;
    margin-left: 10px;
    background: black;
}
.post{
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    background-color: black;
    margin-bottom: 10px;
}
.posts{
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    background-color: #6e796e;
    margin-bottom: 10px;
}
.listaPost{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px;
}
.button_post{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 6px;
    color: white;
    background:black;
    font-weight: bold;
}
.input_post{
    width: 83%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0,0);
    border: 2px solid rgb(255, 0, 0);
    color: white;
}
.campo_select{
    border-radius: 15px;
    width: 110px;
    border: 2px solid red;
    background: #6e796e;
}
.button_post_create{
    display: block;
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 150px ;
    margin-top: 15px;
    margin-bottom: -15px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: bold;

}
.button_nav{
    border-radius: 10px;
    width: 30%;
    margin-right: 18px;
    margin-left: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-color: red;
    background: black;
}
.input_tag{
    width: 80%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0,0);
    border: 2px solid rgb(255, 0, 0);
    color: white;
}
.button_tag_create{
    display: block;
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 140px ;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.input_login{
    width: 160px;
    border-radius: 10px;
    border: 2px solid orangered;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.button_login{
    width: 70px;
    border-radius: 5px;
    color: #fffefe;
    background-color: black;
    border-color: #0aff00;
}
.button_logout{
    width: 70px;
    border-radius: 5px;
    color: #fffefe;
    background-color: black;
    border-color: orangered;
}
.login{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}