<div ng-repeat="comment in commentList" style="margin: 5px ;margin-left: 10px; margin-right: 10px;" class="testo_justificado" > 
    <span ng-if="comment.user" class="texto_nomes_post">{{comment.user.name}}</span>
    <span ng-if="!comment.user" class="texto_nomes_post"> Anonimo</span> 
    - {{comment.text}}
    <br>

    <span class="texto_nomes_post">Comentar 
        <input type="checkbox" ng-model="checked"/>
    <!--comentarios dos comentarios-->
    <div ng-init="checked = false" style="color: white;">
        
        <div class="sample-show-hide" ng-show="checked">                        
            <input type="text" class="input_comment_comment" ng-model="comment.comment_text" placeholder="Comente aqui...">            
            <select ng-model="comment.comment_user" id="user_name" class="campo_select">
                <option>Anonimo</option>
                <option value="{{user.id}}" ng-repeat="user in users" >{{user.name}}</option>
            </select>            
            <button ng-click="createCommentsComment(comment, post)" class="button_comment">Responder comentario</button> 
            <button ng-click="deleteComment(comment, post)" class="button_comment"> Deletar</button>
        </div>
    </div>
    </span>  
    <div class="comments-response" ng-if="comment.comments.length > 0" style="margin-left: 10px;" >
        <comments comment-list="comment.comments" post="post"></comments>
    </div>
</div>