<!DOCTYPE html>

<html ng-app="blogClient">

<head>  
  <title>Blog-Client</title>
  <link rel="stylesheet" type="text/css" href="blog.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="blog.js"></script>
</head>

<body ng-controller="BlogController" class="fundo"> 
  <div>
    <p class="login"> 
      Email: <input type="text" ng-model="user_emaillogin" placeholder=" Email..." class="input_login" style="width: 260px;"><!--Email do usuario-->
      Senha: <input type="text" ng-model="user_passwordlogin" placeholder=" Senha..." class="input_login"><!--senha do usuario-->
      <button ng-click="formSubmit()" class="button_login">Login</button>
      <button ng-click="logout()" class="button_logout"> Logout</button> 
    </p>
  </div>
<!-- Titulo do blog-->
<h1><a href="#/">Blog cliente</a></h1>
  <div style="margin-left: 90px;margin-right: 90px;">
    <a href="#!tags" style="color: black;"><button class="button_nav">Tag </button></a>
    <a href="#!users" style="color: black;"><button class="button_nav"> User</button></a>
    <a href="#!posts" style="color: black;"><button class="button_nav"> Post</button> </a>
  </div>

  <div ng-view></div>
</body>
</html>