<h1>Posts</h1>
<div >
  <section  ng-repeat="post in posts" class="posts">
    <div class="texto_nomes_post" > Tags Relacionadas: <span ng-repeat="tag in post.tags"> {{tag.name}}  </span> </div>                      
      <p class="texto_nomes_post">Usuario: 
          <span ng-if="post.user.name" class="texto_nomes_post">{{post.user.name}}</span>    <!--Nome do usuario no post-->      
          <span ng-if="!post.user.name" class="texto_nomes_post"> Anonimo</span>             <!--Nome Anonimo ao post--> 
      </p>            
      <div style="margin: 10px;">            
        <p style="margin: 5px;" class="texto_nomes_post">Titulo: {{post.title}} / Assunto: </p>   <!--titulo do post-->             
        <p class="texto_justificado">{{post.description}} </p>  <!--descriçao do post-->                      
        <p class="texto_nomes_post">Comente Aqui: <!--comentarios dos posts-->
          <select ng-model="post.comment_user" id="user_name" class="campo_select">
              <option>Anonimo</option>
              <option value="{{user.id}}" ng-repeat="user in users" >{{user.name}}</option> <!--Nome do usuario no comentario-->
          </select>                
          <input type="text" class="input_comment" ng-model="post.comment_text" placeholder="Comente aqui..." > <!--Campo para incerir o comentario-->
          <button ng-click="createComments(post)" class="button_comment">Postar comentario</button> <!--Botao de postar comentario-->
          <button ng-click="deletePost(post)" class="button_comment">Deletar post</button>    <!--Botao de deletar comentario-->
        </p>
        <p style="margin: 5px;" class="texto_nomes_post"> 
          <table>
            <tr><td>
              <span class="expandir" ng-click="showComments(1, post)" > Expandir comentarios
              </span>
            </td></tr>
        </p>
            <tr> 
                <td id="expandir_comment" ng-if="post.visivel == 1">
            <div style="margin-left: 10px;">      
                <comments comment-list="post.comments" post="post" style="margin-left: 0px;"></comments>
            </div>
            <span class="expandir" ng-click="showComments(0, post)">Fechar comentarios </span>
            </td></tr>
          </table>                   
      </div>
  </section>
  <button ng-click="getMorePosts()" class="button_nav" style="display: block; margin: auto;" > Carregar Mais</button>
</div>
