<div ng-controller="PostController">
  <h1>Lista de Posts</h1>

  <div class="post">
    <section  ng-repeat="post in posts" >
      <div class="listaPost"> 
        <p class="texto_nomes"> {{post.id}} - Titulo: {{post.title}} / Tags Relacionadas: <span ng-repeat="tag in post.tags"> {{tag.name}}</span>        
          <button ng-click="deletePost(post.id)" class="button_post"> Deletar Post</button>
          <button ng-click="editePosts(post)" class="button_post"> Editar Post</button>            
        </p>
      </div>
    </section>
  </div>
  <div class="post_create_update">
    <!--Criaçao-->
    <div class="post_create">
      <p>
        <p class="h3"> Criar Post</p>
      </p>
      <p style="font-weight: bold;margin-left: 15px;">
        Titulo:<input type="text" ng-model="post_title" placeholder=" Titulo do post" class="input_post">    <!--Titulo do post-->
        <br>
        Desc :  <input type="text" ng-model="post_description" placeholder=" Descricao" class="input_post" minlength="10" required>   <!--descriçao do post-->
        <br>
        Escolha a Tag:
        <select ng-model="post_tag" id=tag_name class="campo_select" >
          <option value="{{tag.id}}" ng-repeat="tag in tags" >{{tag.name}}</option>   <!--Tag do post-->
        </select>
        <!--Escolha o User:
        <select ng-model="post_user" id="user_name" class="campo_select">
          <option>Anonimo</option>                                                    Usuario do post  
          <option value="{{user.id}}" ng-repeat="user in users" >{{user.name}}</option>
        </select>-->
      </p>
          <button ng-click="createPosts(post)" class="button_post_create" >Criar post</button>
          <br><br>
    </div>
      <!--Editar-->
    <div class="post_update">
      <p>
        <p class="h3">Editar Post</p>
      </p>
      <p style="font-weight: bold; margin-left: 15px;">
        Titulo:<input type="text" ng-model="postTitle" placeholder=" Titulo do post" class="input_post">    <!--Titulo do post-->             
        <br>
        Desc :  <input type="text" ng-model="postDescription" placeholder=" Descricao" class="input_post">   <!--descriçao do post-->  
        <br>
        Escolha a Tag: 
        <select ng-model="postTag" id=tag_name class="campo_select" >               
          <option value="{{tag.id}}" ng-repeat="tag in tags" >{{tag.name}}</option>   <!--Tag do post-->  
        </select>
        <!--Escolha o User:
        <select ng-model="postUser" id="user_name" class="campo_select" >
          <option>Anonimo</option>                                                    
          <option value="{{user.id}}" ng-repeat="user in users" >{{user.name}}</option>
        </select>--> 
      </p>
      <button ng-click="savePosts(postId)" class="button_post_create" >Editar post</button>
    </div>
  </div>
</div>