<div ng-controller="BlogController">
<h1>Lista de Tags</h1>
    <div class="post">
        <section  ng-repeat="tag in tags">
            <div class="listaPost"> 
                <p class="texto_nomes"> 
                    {{tag.id}} - {{tag.name}} 
                    <button ng-click="deleteTags(tag.id)" class="button_post" > Deletar tag</button>
                    <button ng-click="editeTags(tag)" class="button_post" > Editar</button>
                </p>    
            </div>
        </section>
    </div>
    <br>


    <div class="post_create_update">
        <div class="post_create">    
            <p class="h3"> Criar Tag</p> 
            <p style="font-weight: bold; margin-left: 15px;">  
                Nome: <input type="text" ng-model="tag_name" placeholder=" Nome da tag" minlength="1" maxlength="20" class="input_post">
                <br>
                <button ng-click="createTags()" class="button_tag_create" > Criar tag</button> 
            </p>  
        </div>
        <!--Editar a tag-->
        <div class="post_update">
            <p class="h3">Editar Tag</p>
            <p style="font-weight: bold; margin-left: 15px;">
                Novo nome:<input type="text" ng-model="tagName" placeholder=" Nome da tag" minlength="1" maxlength="20" class="input_tag">
                <br>
                <button ng-click="saveTags(tagId)"class="button_tag_create" > Editar</button> <!--botao para editar a tag-->
            </p>
        </div>
    </div>
</div>