<div ng-controller="BlogController">   
    <h1>Lista de Users</h1>
    <div class="post">
        <section  ng-repeat="user in users">
            <div class="listaPost">
                <p class="texto_nomes"> 
                    {{user.name}} - {{user.username}} - {{user.email}}  
                    <button ng-click="deleteUsers(user.id)" class="button_post"> Deletar usuario</button>
                    <button ng-click="editeUsers(user)" class="button_post"> Editar usuario</button>
                </p>
            </div>
        </section>
    </div>


    
    <div class="post_create_update">
        <!--Criar Usuaros-->
        <div class="post_create">
            <p class="h3" >Criar usuario</p>
            <p style="font-weight: bold; margin-left: 15px;">
                Nome: <input type="text"  ng-model="user_name" placeholder=" Nome do usuario" class="input_post"><br> <!--Nome do usuario a ser criado-->
                Username: <input type="text" ng-model="user_username" placeholder=" Username" class="input_post" style="width: 77%;">  <br> <!--username do usuario-->
                Email: <input type="text" ng-model="user_email" placeholder=" Email" class="input_post"><br> <!--Email do usuario-->
                Senha: <input type="text" ng-model="user_password" placeholder=" Senha" class="input_post"><br><!--senha do usuario-->
                Confirme a senha: <input type="text" ng-model="user_password_confirmation" placeholder="Confirme a senha" class="input_post" style="width: 67%;"><br><!--Confirmaçao da senha do usuario-->
            </p>
             <button ng-click="createUsers(user)" class="button_tag_create"> Criar usuario</button>
        </div>
   
        <!--Editar Usuaros-->
        <div class="post_create">
            <p class="h3" >Editar usuario</p>     
            <p style="font-weight: bold; margin-left: 15px;">
                Nome: <input type="text"  ng-model="userName" placeholder=" Nome do usuario" class="input_post"><br> <!--Nome do usuario a ser criado-->
                Username: <input type="text"  ng-model="userUsername" placeholder=" Nome do user" class="input_post" style="width: 77%;"><br>
                Email: <input type="text" ng-model="userEmail" placeholder=" Email" class="input_post"> <br><!--Email do usuario-->
                Senha: <input type="text" ng-model="userPassword" placeholder=" senha" class="input_post"><br>
                Confirme a senha: <input type="text" ng-model="userPassword_confirmation" placeholder=" senha" class="input_post" style="width: 67%;"><br>

            </p>           
            <button ng-click="saveUsers(userId)" class="button_tag_create" > Editar usuario</button>
        </div>
    </div>
</div> 